<%- include('../includes/head.ejs') %>
<%
//Convert milisecond sang giờ phút giây
function msToTime(time) {
    var ms = time % 1000;
    time = (time - ms) / 1000;
    var secs = time % 60;
    time = (time - secs) / 60;
    var mins = time % 60;
    var hrs = (time - mins) / 60;
    return hrs + ' giờ ' + mins + ' phút ' + secs + ' giây ';
}

//Hiển thị theo format ngày/tháng/năm
function dateFormat(date){
    return date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear();
}

//Hiển thị theo format giờ/phút
function timeFormat(time){
    return time.getHours()+" giờ "+time.getMinutes()+" phút";
}

//Convert từ giờ đang milisecond
function toMilis(time) {
    return time * 60 * 60 * 1000;
}

//Convert sang giờ
function toHour(time) {
    return (new Date(time)).getHours();
}
%>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">

        <div class="row">
            <div class="col-md-12 my-md-5">
                <!-- Hiện ngày -->
                <h3 class="centered">Danh sách điểm danh cá nhân trong ngày <%= date %>:</h3>
            </div>
            <div class="col-md-6">
                <!-- Hiện tên -->
                <h3 class="centered">Nhân viên: <%= user %></h3>
            </div>
            <div class="col-md-6">
                <!-- Hiện số giờ làm -->
                <h3 class="centered">Hôm nay đã làm được: <%= workTime %> phút</h3>
            </div>
        </div>

        <div class="row">
            <ol class="list-group list-group-numbered">

                <!--Hiện danh sách đã làm trong ngày -->
                <% data.forEach(val=> { %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Ngày: <%= dateFormat(val.startAt) %></div>
                        Nơi làm việc: <% if(val.location == 1) {%> Tại cơ quan <% } else { %> Tại nhà <% } %><br>
                        Bắt đầu lúc: <%if(val.startAt) {%><%= timeFormat(val.startAt) %><%} else {%> -- <% } %><br>
                        Kết thúc lúc: <%if(val.endAt) {%><%= timeFormat(val.endAt) %><%} else {%> -- <% } %><br>
                        Làm việc trong: <%if(val.workTime) {%><%= msToTime(val.workTime.getTime()) %><%} else {%> -- <% } %>
                    </div>
                </li>
                <% }) %>

            </ol>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
