<%- include('../includes/head.ejs') %>
<%
function msToTime(time) {
    var ms = time % 1000;
    time = (time - ms) / 1000;
    var secs = time % 60;
    time = (time - secs) / 60;
    var mins = time % 60;
    var hrs = (time - mins) / 60;
    return hrs + ' giờ ' + mins + ' phút ' + secs + ' giây ';
}

function dateFormat(date){
    return date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear();
}

function timeFormat(time){
    return time.getHours()+" giờ "+time.getMinutes()+" phút";
}

function toMilis(time) {
    return time * 60 * 60 * 1000;
}

function toHour(time) {
    return (new Date(time)).getHours();
}
%>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-md-5">
                <h3 class="centered">Danh sách điểm danh cá nhân trong ngày <%= date %>:</h3>
            </div>
            <div class="col-md-6">
                <h3 class="centered">Nhân viên: <%= user %></h3>
            </div>
            <div class="col-md-6">
                <h3 class="centered">Hôm nay đã làm được: <%= workTime %> phút</h3>
            </div>
        </div>
        <div class="row">
            <ol class="list-group list-group-numbered">
                <% data.forEach(val=> { %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Ngày: <%= dateFormat(val.startAt) %></div>
                        Nơi làm việc: <% if(val.location == 1) {%> Tại cơ quan <% } else { %> Tại nhà <% } %><br>
                        Bắt đầu lúc: <%= timeFormat(val.startAt) %><br>
                        Kết thúc lúc: <%= timeFormat(val.endAt) %><br>
                        Làm việc trong: <%= msToTime(val.workTime.getTime()) %>
                    </div>
                </li>
                <% }) %>
            </ol>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
