<% if( userRoll >0 ) { %>
<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/MH-1' ? 'active' : '' %>" href="/">MH-1</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/MH-2' ? 'active' : '' %>" href="/MH-2/profile">MH-2</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/MH-3' ? 'active' : '' %>" href="/MH-3">MH-3</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/MH-4' ? 'active' : '' %>" href="/MH-4">MH-4</a>
            </li>
            <% if(userRoll>1) { %>
            <li class="main-header__item">
                <a class="<%= path === '/MH-5' ? 'active' : '' %>" href="/MH-5">MH-5</a>
            </li>
            <% } %>
            <li class="main-header__item">
                <a class="<%= path !== '/MH-6' ? '' : 'd-none' %>" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/MH-1' ? 'active' : '' %>" href="/">MH-1</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/MH-2' ? 'active' : '' %>" href="/MH-2/profile">MH-2</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/MH-3' ? 'active' : '' %>" href="/MH-3">MH-3</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/MH-4' ? 'active' : '' %>" href="/MH-4">MH-4</a>
                </li>
                <% if(userRoll>1) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/MH-5' ? 'active' : '' %>" href="/MH-5">MH-5</a>
                </li>
                <% } %>
            </ul>
</nav>
<% } %>
