<%- include('../includes/head.ejs') %>
<%
    function msToTime(time) {
      var ms = time % 1000;
      time = (time - ms) / 1000;
      var secs = time % 60;
      time = (time - secs) / 60;
      var mins = time % 60;
      var hrs = (time - mins) / 60;
      return hrs + ' giờ ' + mins + ' phút ' + secs + ' giây ';
    }

    function hour(time) {
        return time * 60 * 60 * 1000;
    }

%>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="row centered">
            <h1>Dashboard</h1>
        </div>
        <div class="row">
            <div class="card mt-5 col-md-10 p-md-5 offset-md-1">
                <div class="row no-gutters">
                    <div class="row mb-4">
                        <div class="col-12 col-md">
                            <h3>Ngày: <%= date %></h3>
                            <p>Hôm nay làm được: <%= msToTime(workTime)  %></p>
                            <p>Số giờ làm thêm: <%= msToTime(overTime) %></p>
                        </div>
                        <div class="col-12 col-md">
                            <h3>Danh sách ngày nghỉ:</h3>
                            <% if(annualLeave && leaveTime){
                                    annualLeave.forEach(data => {%>
                            Ngày: <%= data.date.getDate()+"/"+(data.date.getMonth()+1)+"/"+data.date.getFullYear() %>
                            - Nghỉ trong: <%= data.time %> giờ <br>
                            <%});

                                }%>
                        </div>
                        <div class="col-12 col-md">
                            <h3>Lần điểm danh cuối:</h3>
                            <p>Bắt đầu lúc:
                                <% if(!lastestWork)
                                        {%> -- <%}
                                    else
                                        {%><%= lastestWork.startAt.getHours()+" giờ "+lastestWork.startAt.getMinutes()+" phút" %></p>
                            <%}%>

                                <p>Kết thúc lúc:
                                    <% if(!lastestWork || !lastestWork.endAt)
                                        {%> -- <%}
                                    else
                                        {%><%=lastestWork.endAt.getHours()+" giờ "+lastestWork.endAt.getMinutes()+" phút"%>
                            <%}%>
                                </p>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-12 col-md">
                                <h3>Lương</h3>
                                <p>Công thức tính : <% if(fomula) {%> <%= fomula %> <% } else {%>salaryScale * 3000000 + (overTime - số giờ làm thiếu) * 200000<% } %></p>
                                <p>Lương tháng <%= month %> của bạn là: <%= salary %></p>
                                <form action="/MH-3/salary" method="post">
                                    <input type="date" name="date" required>
                                    <button type="submit" class="btn btn-secondary" name="confirm" id="confirm">Tính Lương</button>
                                </form>
                            </div>
                        </div>

                        <!-- Text input -->
                        <d iv class="form-outline mb-4">
                            <div class="row">
                                <h3>Lịch sử làm việc</h3>
                                <ol class="list-group list-group-numbered">
                                    <% work.forEach(val=> { %>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Ngày: <%= val.startAt.getDate()+"/"+(val.startAt.getMonth()+1)+"/"+val.startAt.getFullYear() %></div>
                                    Nơi làm việc: <% if(val.location == 1) {%> Tại cơ quan <% } else { %> Tại nhà <% } %><br>
                                    Bắt đầu lúc: <%= val.startAt.getHours()+" giờ "+val.startAt.getMinutes()+" phút"%><br>
                                    Kết thúc lúc:
                                    <% if(!val.endAt)
                                                    {%> -- <%}
                                                else
                                                    {%><%=val.endAt.getHours()+" giờ "+val.endAt.getMinutes()+" phút"%>
                                    <%}%>
                                            <br>
                                            Làm việc trong:
                                                <% if(!val.endAt)
                                                    {%> -- <%}
                                                else
                                                    {%><%=msToTime(val.workTime.getTime())%>
                                    <%}%>
                                        </div>
                                    </li>
                                    <% }) %>
                                    </ol>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <%- include('../includes/end.ejs') %>
